/*@font-face {
    font-family: signoria;
    src: url(signoria.ttf);
}*/








/* ------------------------ header styling ---------------------*/

header {
    margin-top: -20px;
    height: 70px;
    width: 100%;
}

h1 {
    text-indent: -110000px;
}

header img {
    padding-left: 10px;
    float: left;
    margin-top: -55px;
}

header li {
    display: inline;
    padding-left: 20px;
}

header li:first-child {
    padding-left: 0;
}

nav {
    margin-left: 537px;
    margin-top: -68px;
}

/* unvisited link */
nav a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 10pt;
    color: #556077;
    text-decoration: none;
}

/* visited link */
nav a:visited {
    color: #556077;
}

/* mouse over link */
nav a:hover {
    color: #414042;
    text-decoration: underline;
}

/* selected link */
nav a:active {
    color: #414042;
    font-weight: bold;
    text-decoration: none;
}

#current {
    font-weight: bold;
}

/* -------------------- end of header styling ------------------*/






/* ------------------------ contact styling ---------------------*/




#contact_info {
    color: #414042;
    width: 383px;
    float: left;
    margin-left: 40px;
    margin-top: 32px;
}


h4 {
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    color: #556077;
    margin: 10px  0 5px 0;
    padding-top: 30px;
}

#contact_info h4:first-child {
    margin: 0  0 5px 0;
}



#contact_info a {
    display: inline-block;
}


#contact_info p, a {
    margin-left: 5px;
    margin-top: 0;
    font-family: signoria, serif;
    font-size: 10pt;
}




/* unvisited link */
#contact_info a:link {
    font-family: signoria, serif;
    font-size: 10pt;
    color: #556077;
    text-decoration: none;
}

/* visited link */
#contact_info a:visited {
    color: #556077;
}

/* mouse over link */
#contact_info a:hover {
    color: #556077;
    text-decoration: underline;
}

/* selected link */
#contact_info a:active {
    color: #556077;
    font-weight: bold;
    text-decoration: none;
}




#no_margin {
    margin-left: 0;
    color: #556077;
}


#social img {
    padding-left: 20px;
    padding-bottom: 40px;
}


#about_image img {
    padding-left: 107px;
    margin-top: 62px;

}
/* -------------------- end of contact styling ------------------*/















html {
    position: relative;
    min-height: 100%;
}



.wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
}












/*-----------------Location specific styling ------------------*/



#map-canvas1, #map-canvas2 {
    width: 944px;
    height: 235px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


#location_specific {
    min-height: 430px;
    background-color: #556077;
    overflow: hidden;
}

h3 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
}

#location_specific p {
    color: #ffffff;
    font-family: signoria, serif;
    font-size: 12px;
}

#meet_the_team {
    float: left;
    margin-left: -30px;
}

#meet_the_team h3 {
    padding-left: 100px;
}

#tm1 {
    padding-left: 100px;
    width: 150px;
    float: left;
}

#tm2 {
    padding-left: 300px;
}



#meet_the_team img {
    width: 150px;
    padding-top: 15px;
}

#meet_the_team p {
    width: 150px;
    line-height: 115%;

}


#location_address {
    padding-left: 140px;
    float: left;
}


h5 {
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 2px;
}


#location_address p {
    padding-left: 3px;
    margin-top: 2px;
}


/* unvisited link */
#location_address a:link {
    font-family: signoria, serif;
    font-size: 10pt;
    color: #ffffff;
    text-decoration: none;
}

/* visited link */
#location_address a:visited {
    color: #ffffff;
}

/* mouse over link */
#location_address a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#location_address a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}





#hours {
    padding-left: 774px;
}

#hours h5 {
    padding-top: 61px;
}

#hours p {
    line-height: 150%;
}

/* -----------------end of location specific styling ----------------*/




/*----------------------- Review Styling ---------------------------*/



#full_review {
    margin-top: 45px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: signoria, serif;
    color: #414042;
    overflow: hidden;
}

#full_review section {
    margin-top: 25px;
    width: 300px;
    float: left;
}

#full_review p {
    width: 270px;
    font-size: 14px;
}


#full_review h5 {
    padding-top: 20px;
    color: #414042;
    font-size: 16px;
    font-family: signoria, serif;
    width: 279px;
}

#full_review p:last-of-type{
    font-size: 12px;
}


#full_review img {
    margin-left: 32px
}



#partial_review {
    background-color: #556077;
    color: #ffffff;
    font-family: signoria, serif;
    font-size: 12px;
    overflow: hidden;
}

#partial_review p {
    width: 212px;
}

#partial_review section {
    width: 300px;
    float: left;
    padding-left: 31px;
    padding-top: 16px;
    margin-bottom: 80px;
}


/* unvisited link */
#partial_review a:link {
    font-family: signoria, serif;
    font-size: 12px;
    color: #ffffff;
    margin-left: 0;
}

/* visited link */
#partial_review a:visited {
    color: #ffffff;
}

/* mouse over link */
#partial_review a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#partial_review a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}






/*-------------------- End of Review Styling -----------------------*/



/* ------------------------ footer styling ---------------------*/

footer {
    width: 100%;
    height: 50px;
    background-color: #414042;
    position: absolute;
    bottom:0;

    overflow: hidden;

}

h6 {
    color: #ffffff;
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    padding-left: 30px;
    margin-top: 20px;
}

footer ul {
    padding-left: 782px;
    margin-top: -42px;
}

footer li {
    display: inline;
    padding-left: 26px;
}

/* unvisited link */
footer a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 8pt;
    color: #ffffff;
    text-decoration: none;
}

/* visited link */
footer a:visited {
    color: #ffffff;
}

/* mouse over link */
footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
footer a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* -------------------- end of footer styling ------------------*/



