


#expand_gallery h4 {
    cursor: pointer;
    color: #414042;
    margin-top: 28px;
}

#expand_gallery aside {
    min-height: 100%;
}


.wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}




#portrait_gallery_expand, #travel_gallery_expand, #wedding_gallery_expand, #park_gallery_expand {
    display: none;
}


.back_button {
    margin-top: 40px;
    cursor: pointer;
}


h4 {
    font-size: 18px;
    float: left;
    width: 160px;
    margin-top: 80px;
}

.gallery_container h5 {
    color: #414042;
    font-size: 14px;
    float: left;
    width: 120px;
    margin-top: 112px;
    margin-left: -160px;
    font-family: droid sans, sans-serif;
    margin-bottom: 13px;
}


.rslides2 p {

    width: 120px;
    font-size: 12px;
}

.rslides2 {
    color: #414042;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 80%;
    left: 10%;
    z-index: 11;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/gallery_arrow_dark.png") no-repeat left top;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 10%;
}









