@font-face {
    font-family: signoria;
    src: url(signoria.ttf);
}






#large_location, #main_service{
    margin-top: 50px;
    margin-bottom: 50px;
}


#large_location img, #main_service img{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: relative;

}


#large_location p, #main_service p{
    color: #414042;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 35px;
    width: 248px;
    text-align: center;
    padding-top: 5px;

    position: absolute;
    top: 425px;
    left: 236px;
}





#small_locations, #partial_service {
    overflow: hidden;
    background-color: #556077;
    /*min-height: 300px;*/
}

#small_locations section, #partial_service section {
    padding-top: 50px;
    width: 218px;
    float: left;
    padding-left: 30px;
    min-height: 300px;
}



#partial_service, #small_locations p {
    color: #ffffff;
    font-family: 'droid sans', sans-serif;
    font-size: 12px;
}








#services_slider, #locations_slider{
    margin-right: auto;
    margin-left: auto;
    max-width: 964px;
}



/* unvisited link */
#small_locations a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

/* visited link */
#small_locations a:visited {
    color: #ffffff;
}

/* mouse over link */
#small_locations a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#small_locations a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}




/* unvisited link */
#partial_service a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;

    font-weight: normal;
}

/* visited link */
#partial_service a:visited {
    color: #ffffff;
}

/* mouse over link */
#partial_service a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#partial_service a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}






/* -------------- End of Location and Services Styling -----------------------*/





/* ------------------------ header styling ---------------------*/

header {
    margin-top: -20px;
    height: 70px;
    width: 100%;
}

h1 {
    text-indent: -110000px;
}

header img {
    padding-left: 10px;
    float: left;
    margin-top: -55px;
}

header li {
    display: inline;
    padding-left: 20px;
}

header li:first-child {
    padding-left: 0;
}

nav {
    margin-left: 537px;
    margin-top: -68px;
}

/* unvisited link */
nav a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 10pt;
    color: #556077;
    text-decoration: none;
}

/* visited link */
nav a:visited {
    color: #556077;
}

/* mouse over link */
nav a:hover {
    color: #414042;
    text-decoration: underline;
}

/* selected link */
nav a:active {
    color: #414042;
    font-weight: bold;
    text-decoration: none;
}

#current {
    font-weight: bold;
}

/* -------------------- end of header styling ------------------*/



/* ---------------------Gallery Styling -------------------------- */


#gallery_sider {
    width: 178px;
    margin-top: -14px;
    padding-left: 30px;
    float: left;
    position: fixed;
}

#gallery_header {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    height: 100px;
    top: 0;
}

#gallery_sider p, h2 {
    color: #414042;
}


#gallery_sider h2 {
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
}


#gallery_sider p {
    font-family: signoria, serif;
    font-size: 13px;
}




#gallery section {
    width: 724px;
}


#gallery {
    margin-top: 100px;
    margin-left: 278px;
    margin-bottom: 100px;
}

#gallery h3  {
    color: #414042;
    font-family: droid sans, sans-serif;
}


#gallery ul {
    list-style-type: none;
}



#gallery li {
    display: inline;
    margin-left: 30px;

}

#gallery li:first-child{
    margin-left: -39px;
}







/* ------------------End of Gallery Styling ---------------------- */




/* --------------------- Home Styling -----------------------*/


#home_slider img{
    max-width: 100%;
}

#home_header {
    z-index: 10;
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    height: 100px;
    top: 0;
}

#home_footer {
    z-index: 10;
    background-color: rgba(65,64,66,.9);
}




/* ------------------ End of Home Styling -------------------*/





/* ------------------------ contact styling ---------------------*/




#contact_info {
    color: #414042;
    width: 383px;
    float: left;
    margin-left: 40px;
    margin-top: 32px;
}


h4 {
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    color: #556077;
    margin: 10px  0 5px 0;
    padding-top: 30px;
}

#contact_info h4:first-child {
    margin: 0  0 5px 0;
}



#contact_info a {
    display: inline-block;
}


#contact_info p, a {
    margin-left: 5px;
    margin-top: 0;
    font-family: signoria, serif;
    font-size: 10pt;
}




/* unvisited link */
#contact_info a:link {
    font-family: signoria, serif;
    font-size: 10pt;
    color: #556077;
    text-decoration: none;
}

/* visited link */
#contact_info a:visited {
    color: #556077;
}

/* mouse over link */
#contact_info a:hover {
    color: #556077;
    text-decoration: underline;
}

/* selected link */
#contact_info a:active {
    color: #556077;
    font-weight: bold;
    text-decoration: none;
}




#no_margin {
    margin-left: 0;
    color: #556077;
}


#social img {
    padding-left: 20px;
    padding-bottom: 40px;
}



#contact_img {
    margin-left: 520px;
    margin-top: 62px;
    max-width: 462px;
}

#contact_img li{
    list-style: none;
}


/* -------------------- end of contact styling ------------------*/















html {
    position: relative;
    min-height: 100%;
}



.wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
}


/* ----------------- Location and services Styling  --------------------------*/





/*-----------------Location specific styling ------------------*/




#map-canvas1, #map-canvas2 {
    width: 944px;
    height: 235px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}


#location_specific {
    min-height: 430px;
    background-color: #556077;
    overflow: hidden;
}

h3 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
}

#location_specific p {
    color: #ffffff;
    font-family: signoria, serif;
    font-size: 12px;
}

#meet_the_team {
    float: left;
    margin-left: -30px;
    min-height: 510px;
}

#meet_the_team h3 {
    padding-left: 100px;
}

#tm1 {
    padding-left: 100px;
    width: 150px;
    float: left;
}

#tm2 {
    padding-left: 300px;
}



#meet_the_team img {
    width: 150px;
    padding-top: 15px;
}

#meet_the_team p {
    width: 150px;
    line-height: 115%;

}


#location_address {
    padding-left: 140px;
    float: left;
}


h5 {
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 2px;
}


#location_address p {
    padding-left: 3px;
    margin-top: 2px;
}

/* unvisited link */
#location_address a:link {
    font-family: signoria, serif;
    font-size: 10pt;
    color: #ffffff;
    text-decoration: none;
}

/* visited link */
#location_address a:visited {
    color: #ffffff;
}

/* mouse over link */
#location_address a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#location_address a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}



#location_specific aside {
    padding-left: 774px;
}

#location_specific aside  h5 {
    padding-top: 61px;
}

#location_specific aside  p {
    line-height: 150%;
}

/* -----------------end of location specific styling ----------------*/






/*----------------------- Review Styling ---------------------------*/




#full_review_2, #full_review_3, #full_review_4 {
    display: none;
}

#small_review_1 {
    display: none;
}



#full_review, #full_review_2, #full_review_3, #full_review_4 {
    margin-top: 45px;
    margin-bottom: 35px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: signoria, serif;
    color: #414042;
    overflow: hidden;
}

#full_review section, #full_review_2 section, #full_review_3 section, #full_review_4 section {
    margin-top: 25px;
    width: 300px;
    float: left;
}

#full_review p, #full_review_2 p, #full_review_3 p, #full_review_4 p{
    width: 270px;
    font-size: 14px;
}

#full_review h5, #full_review_2 h5, #full_review_3 h5, #full_review_4 h5  {
    padding-top: 20px;
    color: #414042;
    font-size: 16px;
    font-family: signoria, serif;
    width: 279px;
}

#full_review p:last-of-type, #full_review_2 p:last-of-type, #full_review_3 p:last-of-type, #full_review_4 p:last-of-type{
    font-size: 12px;
}

#full_review img, #full_review_2 img, #full_review_3 img, #full_review_4 img{
    margin-left: 32px
}


#partial_review {
    padding-top: 30px;
    background-color: #556077;
    color: #ffffff;
    font-family: signoria, serif;
    font-size: 12px;
    overflow: hidden;
}

#partial_review p {
    width: 212px;
    cursor: pointer;

}

#partial_review section {
    width: 300px;
    float: left;
    padding-left: 31px;
    padding-top: 16px;
    margin-bottom: 80px;
}

/* unvisited link */
#partial_review a:link {
    font-family: signoria, serif;
    font-size: 12px;
    color: #ffffff;
    margin-left: 0;
}

/* visited link */
#partial_review a:visited {
    color: #ffffff;
}

/* mouse over link */
#partial_review a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
#partial_review a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}


/*-------------------- End of Review Styling -----------------------*/



/* ------------------------ footer styling ---------------------*/

footer {
    width: 100%;
    min-height: 50px;
    position: absolute;
    bottom:0;
    overflow: hidden;
    z-index: 10;
    background-color: #414042;

}


h6 {
    color: #ffffff;
    font-family: 'droid sans', sans-serif;
    font-weight: normal;
    padding-left: 30px;
    margin-top: 20px;
}

footer ul {
    padding-left: 782px;
    margin-top: -42px;
}

footer li {
    display: inline;
    padding-left: 26px;
}

/* unvisited link */
footer a:link {
    font-family: 'droid sans', sans-serif;
    font-size: 8pt;
    color: #ffffff;
    text-decoration: none;
}

/* visited link */
footer a:visited {
    color: #ffffff;
}

/* mouse over link */
footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* selected link */
footer a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}


/* -------------------- end of footer styling ------------------*/



